body {
    background-color: rgb(233, 232, 232);
}

/* backgrounds */
.bg-grad {
    /* background-color: #7de7bd; */
    background: linear-gradient(-30deg, #7ddce7, #7de7bd);
}

/* button overrides */
button.button-primary {
    background-color: #7b3ddd;
    border-color: #7b3ddd;
}
button.button-primary:hover,
button.button-primary:focus {
    background-color: #7a3ddde3;
    border-color: #7a3ddde3;
}

/* main title */
.fancy-underline {
    text-align: center;
    position: relative;
    display: inline-block;
}
.fancy-underline:after {
    content: "";
    display: block;
    position: absolute;
    background-color: #7a3dddab;
    height: 10px;
    width: 105%;
    left: 50%;
    bottom: 3px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* Left panel where nav and stuff are */
.left-panel {
    position: fixed;
    width: 30%;
    height: 100%;
}
.nav-item {
    cursor: pointer;
}
.nav-item p {
    margin: 0;
    padding: 1.5rem;
    text-transform: uppercase;
}
.nav-item:hover {
    background: #7a3dddab;
    color: #f0f0f0;
}
.active {
    border-bottom: 2px solid #7b3ddd;
}

/* utils */
.u-full-height {
    height: 100%;
}
.text-center {
    text-align: center;
}
.pos-fixed {
    position: fixed;
}
.m-0 {
    margin: 0;
}
.mb-1 {
    margin-bottom: 1rem;
}
.p-0 {
    padding: 0;
}
.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 1.5rem;
}
.p-3 {
    padding: 2rem;
}
.p-4 {
    padding: 2.5rem;
}
.p-5 {
    padding: 3rem;
}
