/* https://raw.githubusercontent.com/michael-andreuzza/images/master/Sport.png */
/**
 * BG:               #1648bf
 * FG:               #2754f2
 * FG2:              #
 * Primary:          #fdd5b9
 * Complement:       #b9e1fd
 * Text:             #fdd5b9
 */

/* hyperreal */
/* blue #1648bf */
/* tan #fdd5b9 */

:root {
  /* Colors */
  --color-bg: #1648bf;
  --color-fg: #2754f2;
  --color-text: #fdd5b9;

  --color-primary: #fdd5b9;

  --color-complement: #b9e1fd;

  --color-danger: #d30930;

  --color-success: #14cc67;

  --color-shadow: rgba(55, 58, 75, 0.08);

  /* Text Sizing */
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;
  --text-xs: calc((1em / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(
    var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
  --text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));

  /* Space */
  --space-unit: 1em;
  --space-xxxxs: calc(0.125 * var(--space-unit));
  --space-xxxs: calc(0.25 * var(--space-unit));
  --space-xxs: calc(0.375 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
  --space-xxxl: calc(8.5 * var(--space-unit));
  --space-xxxxl: calc(13.75 * var(--space-unit));
}

/* https://raw.githubusercontent.com/michael-andreuzza/images/master/font_pairings/Poppins %2B Lato.png */
@import url('https://fonts.googleapis.com/css?family=Monsterrat|Prata');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Monsterrat', sans-serif;
  font-size: var(--text-base-size);
  line-height: calc(var(--space-unit) * 1.5);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: var(--color-bg);
  color: var(--color-text);
  min-height: 100vh;
  transition: background 0.25s ease-in-out, color 0.25s ease-in-out;
}

/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  letter-spacing: -0.1rem;
  font-family: 'Prata', sans-serif;
  margin-bottom: var(--space-xs);
}
h1 {
  font-size: var(--text-xxxxl);
  line-height: 1.125;
}
h2 {
  font-size: var(--text-xxxl);
  line-height: 1.13;
}
h3 {
  font-size: var(--text-xxl);
  line-height: 1.135;
}
h4 {
  font-size: var(--text-xl);
  line-height: 1.14;
}
h5 {
  font-size: var(--text-lg);
  line-height: 1.15;
}
h6 {
  font-size: var(--text-md);
  line-height: 1.2;
  margin-top: 0;
}
p {
  font-size: var(--text-base-size);
}
a {
  color: var(--color-text);
}

/* HR */
hr {
  border-width: 0;
  border-top: var(--space-xxxxs) solid var(--color-primary);
  margin: var(--space-lg) 0;
}

/* Containers */
.container {
  position: relative;
  width: 66vw;
  min-height: 75vh;
  margin: 0 auto;
  box-sizing: border-box;
}
.container-full {
  position: relative;
  width: 96vw;
  min-height: 75vh;
  margin: 0 auto;
  box-sizing: border-box;
}
@media only screen and (max-width: 1366px) {
  .container {
    width: 96vw;
    padding: 0 2vw;
  }
}
